.categoriesPage {
    width: 100%;
    padding-bottom: 80px;
}

.categoriesMenuWrapper {
    width: 100%;
    color: #fff;
    font-size: 15.5px;
    padding: 30px 10%;
    background-color: #3FA9F5;
}

.leftAndRightMenuContainers {
    width: 31%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.leftAndRightControl {
    height: 86px;
    display: flex;
    cursor: pointer; 
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.leftAndRightControl > img {
    width: 43px;
}

.categoriesNavArrowDiv > img {
    width: 10px;
}

.categoriesNavArrowDiv {
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    background-color: #fff;
    cursor: pointer; 
}

.catmenuContainer {
    width: 38%;
    height: 115px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #fff;
}

.catmenuContainer > div {
    height: 100%;
    padding: 5% 2%;
    display: flex;
    cursor: pointer; 
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.catmenuContainer > div:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.catmenuContainer > div:nth-child(3) {
    padding: 5% 4%;
}

.catmenuContainer > div:nth-child(4) {
    padding: 5% 2.6%;
    color: #3FA9F5;
    background-color: #fff;
}

.catmenuContainer > div > img {
    width: 39px;
}

.trendingDiv > img {
    width: 30px !important;
}

/* charity feeds starts */
.arrowBox {
    width: 100%;
    position: absolute;
    bottom: -10px;
}

.arrowBox > a {
    padding: 20px;
    /* border: 1px solid #525d68; */
}

.arrowBox > img {
    width: 18px;
}

.feedsWrapper {
    width: 90%;
}

.card{
    width: 23.8%;
    cursor: pointer;
    border: none;
    border-radius: 12px;
    padding: 3px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
}

.card:hover {
    box-shadow: 0px 0px 7px #ff1d255b;
}

.photoWrapper {
    display: flex;
}

.heartIcon {
    position: absolute;
    top: 130px;
    right: 25px;
}

.photoWrapper > img {
    width: 100%;
    border-radius: 12px;
    box-shadow: none;
}

.detailsWrapper {
    width: 100%;
    padding: 15px 7px 5px;
}

.detailsWrapper > h2 {
    font-size: 12px;
    font-weight: 800;
    text-transform: uppercase;
} 

.detailsWrapper > p {
    color: #525d68;
    font-size: 14px;
    padding-top: 5px;
    line-height: 1.3em;
}