* p {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

ul li::marker {
    font-size: 0;
}

a:hover {
    text-decoration: none;
}

li::marker {
   color: #fff;
}

input, select {
    outline: none;
}

body {
    background-color: #fff;
    font-family: 'Libre Franklin', sans-serif, 'Libre Baskerville', serif;
}

/* Header */
header {
    height: 100px;
    background-color: #fff;
    /* box-shadow: 2px 1px 2px rgba(0, 0, 0, 0.164); */
}

/* Logo div */
.logo {
    width: 35%;
}

/* Style the search field */
#selectCategories {
    width: 68%;
    font-size: 17px;
    font-weight: bold;
    font-family: 'Libre Franklin', sans-serif;
    padding-left: 5%;
    border: none;
    border-radius: 50px 0 0 50px;
}

.searchForm {
    display: flex;
    width: 100%;
    border-radius: 50px;
    background-color: #fff;
    border: 1px solid #000;
}

.searchBox {
    display: flex;
    width: 100%;
    height: 50px;
    border: none;
}

::placeholder {
    color: #000;
}

:-ms-input-placeholder {
    color: #000;
}

::-ms-input-placeholder {
    color: #000;
}

.searchBox input[type=search] {
    width: 100%;
    padding: 14px;
    color: #000;
    border: 1px solid #fff;
    border-left: 1px solid #000;
    padding-left: 5%;
    margin-left: 3%;
}

.searchIcon {
    width: 40px;
}
  
.searchBtn {
    width: 55px;
    padding: 3px;
    color: #fff;
    font-size: 20px;
    border: none;
    border-radius: 50px;
    background-color: #3FA9F5;
    cursor: pointer; 
}
  
/* navigation menu starts here */
nav {
    /* border: 1px solid red; */
}

/* donate and create buttons nav starts here */
nav .donateNav {
    width: 60%;
    display: flex;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    justify-content: space-between;
}

nav .donateNav a {
    color: #000;
}

nav .donateNav li a, nav .donateNav li {
    padding: 14px;

}

nav .donateNav li:first-child {
    border-right: 1px solid #000;
    padding-right: 4%;
}

nav .donateNav li:nth-child(2) {
    padding-left: 0px;
}

/* dark mode and user icon wrapper starts here */
.darkModeUserIconsUlWrapper {
    width: 45%;
}

/* dark mode icon starts here */
.darkModeIconUl img {
    width: 45px;
    padding: 12px;
    border-radius: 50px;
    background-color: #F5F5F5;
}

/* menu icon and user icon ul starts here */
.menuIconUserIconUl {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 12px;
    margin-left: 12%;
    background-color: #F5F5F5;
    border-radius: 50px;
}

.menuIconUserIconUl img {
    width: 30px;
}

.menuIconUserIconUl li:nth-child(2) {
    margin-left: 15%;
}

/* end of header */

/* hero starts here */
.hero {
    width: 100%;
}

.slideshow a {
    display: flex;
    flex-wrap: wrap;
    height: 65vh;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.904);
}

/* slider arrows */
.sliderArrowsWrapper {
    width: 100%;
    height: 65vh;
    position: absolute; 
    z-index: 2;
    opacity: 0;
}

.sliderArrowDiv {
    width: 8%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 2px 0 1.5px rgba(0, 0, 0, 0.5);
}

.sliderArrowDiv:nth-child(2) {
    box-shadow: -2px 0 1.5px rgba(0, 0, 0, 0.5);
} 

.sliderArrowsWrapper:hover {
    opacity: 1;
    transition: 1s;
}

.sliderArrowIcon {
    width: 3rem;
}

/* slide image */
.slideOne {
    display: flex;
    width: 100%;
    height: 65vh;
    object-fit: cover;
    object-position: 0% 63%;
    opacity: 0.6;
}

.sliderContents {
    width: 90%;
    position: absolute; 
    bottom: 170px;
    left: 5%;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.3em;
    font-family: 'Libre Baskerville', serif;
}

.sliderTexts {
    width: 33%;
    display: flex;
    text-shadow: 0px 0px 4px #000;
}

.sliderDotsWrapper {
    width: 33%;
    padding: 0 10%;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
}

.sliderDot {
    width: 8px;
    height: 8px;
    background-color: #fff;
    border-radius: 50px;
}

.sliderDot:nth-child(4) {
    background-color: #3FA9F5;
}

.emptyDiv {
    width: 33%;
    display: flex;
}

/* Call to action buttons and categories menu wrappper */
.cta_btns_and_categoriesMenu_wrapper {
    width: 100%;
    border: 2px solid black;
    background: #3FA9F5 url("../img/bg-pc-pattern.png") repeat center;
}
.ctaBtnsWrapper {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 60px 10%;
    margin: auto;
}

.ctaBtn {
    font-size: 25px;
    color: #3FA9F5;
    font-weight: 600;
    padding: 20px 25px;
}

.ctaBtn:hover {
    color: #FF1D25;
}

/* <!-- categories page starts here --> */
.categoriesPage {
    width: 100%;
    height: 600px;
}

.categoriesMenuWrapper {
    width: 100%;
    padding: 60px 10%;
    display: flex;
    align-items: center;
    border: 2px solid red;
}

.firstMenuContainer {
    width: 30%;
    display: flex;
    padding-right: 7%;
    align-items: center;
    justify-content: space-between;
    border: 2px solid green;
}

.lastMenuContainer {
    width: 30%;
    display: flex;
    padding-left: 7%;
    align-items: center;
    justify-content: space-between;
    border: 2px solid green;
}

.categoriesNavArrowDiv > img {
    width: 12px;
}

.categoriesNavArrowDiv {
    width: 50px;
    height: 50px;
    /* padding: 6px 8px; */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    background-color: #fff;
    cursor: pointer; 
}

.catmenuContainer {
    width: 40%;
    display: flex;
    justify-content: space-between;
    /* border: 2px solid green; */
    align-items: center;
}

.catmenuContainer > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 2px solid green; */

}

.catmenuContainer img {
    width: 42px;
}

.favoritesContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 2px solid green; */
}

