<header class="sticky-top d-flex container-fluid align-items-center bg-white text-black">
    <div class="col-md-3">
        <a href="#"><img class="col-md-4 img-fluid" src="assets/img/havenDesktopLogo.png" alt="Haven logo"></a>
    </div>

    <!-- search input div -->
    <div class="col-md-4">
        <form class="searchForm">
            <div class="searchBox">
                <div class="dropdown">
                    <button class="d-flex justify-content-between align-items-center">Categories <img src="assets/img/icons/chevron_down.png"></button>
                    <div class="contentHover">
                        <div class="dropdownContentsWrapper d-flex justify-content-center align-items-center">
                            <img src="assets/img/icons/upArrow.png">
                            <div class="dropdownContents">
                                <a href="#"><div><img src="assets/img/icons/trendingDropdown.png">Trending</div></a>
                                <a href="#"><div><img src="assets/img/icons/religiousDropdown.png">Religious</div></a>
                                <a href="#"><div><img src="assets/img/icons/sportsDropdown.png">Sports</div></a>
                                <a href="#"><div><img src="assets/img/icons/wildlifeDropdown.png">Wildlife</div></a>
                                <a href="#"><div><img src="assets/img/icons/individualsDropdown.png">Individuals</div></a>
                            </div>
                        </div>
                    </div>
                </div>
                <input type="search" placeholder="search for a charity..." name="search">
            </div>
            <button class="searchBtn" type="submit"><img class="searchIcon" src="assets/img/icons/magnifying_lens.png"></button>
        </form>
    </div>

    <!-- nav menu container wrapper -->
    <div class="col-md-5 d-flex">
        <nav class="justify-content-end">
            <ul class="col-md-9 d-flex float-end border border-danger">
                <li class="btn btn-lg"><a href="#">create</a></li>
                <li class=""><a href="#">donate</a></li>
                <li class=""><a href="#"><img class="col-sm-2" src="assets/img/icons/night_mode.png"></a></li>
                <li class=""><a href="#"><img class="col-sm-2" src="assets/img/icons/menu_bars.svg"></a></li>
                <li class=""><a href="#"><img class="col-sm-2" src="assets/img/icons/user_icon.png"></a></li>
            </ul>
        </nav>
    </div>
</header>
