<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Libre+Franklin&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="./assets/css/general.css">
    <title>Haven Charity</title>
</head>
<body>
    <!-- header starts here -->
    <header class="sticky-top d-flex container-fluid justify-content-around align-items-center px-5">
            
        <!-- logo div -->
        <div class="col-sm-3">
            <a href="#"><img class="logo" src="./assets/img/havenDesktopLogo.png" alt="Haven logo"></a>
        </div>

        <!-- search input div -->
        <div class="col-sm-4 searchContainer">
            <form class="searchForm" action="action_page.php">
                <div class="searchBox">
                    <div class="dropdown">
                        <button class="d-flex justify-content-between align-items-center">Categories <img src="./assets/img/icons/chevron_down.png"></button>
                        <div class="contentHover">
                            <div class="dropdownContentsWrapper d-flex justify-content-center align-items-center">
                                <img src="./assets/img/icons/upArrow.png">
                                <div class="dropdownContents">
                                    <a href="#"><div><img src="./assets/img/icons/trendingDropdown.png">Trending</div></a>
                                    <a href="#"><div><img src="./assets/img/icons/religiousDropdown.png">Religious</div></a>
                                    <a href="#"><div><img src="./assets/img/icons/sportsDropdown.png">Sports</div></a>
                                    <a href="#"><div><img src="./assets/img/icons/wildlifeDropdown.png">Wildlife</div></a>
                                    <a href="#"><div><img src="./assets/img/icons/individualsDropdown.png">Individuals</div></a>
                                </div>
                            </div> 
                        </div>
                    </div>
                    <input type="search" placeholder="search for a charity..." name="search">
                </div>
                <button class="searchBtn" type="submit"><img class="searchIcon" src="./assets/img/icons/magnifying_lens.png"></i></button>
            </form>
        </div>

        <!-- nav menu container wrapper -->
        <div class="col-sm-5 menuContainer pl-6">
            <!-- donate and create buttons -->
            <nav class="d-flex align-items-center">
                <ul class="donateNav d-flex justify-content-around my-auto">
                    <li><a href="#">create</a></li>
                    <li><a href="#">donate</a></li>
                </ul>

                <!-- night-mode icon div -->
                <div class="darkModeUserIconsUlWrapper d-flex">
                    <ul class="my-auto darkModeIconUl">
                        <li><a href="#"><img class="darkModeIcon" src="./assets/img/icons/night_mode.png" alt="switch to dark mode"></a></li>
                    </ul>
                    
                    <!-- menu and user icons -->
                    <div class="menuDropdown d-flex align-items-center justify-content-center ml-4">
                        <ul class="menuIconUserIconUl d-flex align-items-center justify-content-center my-auto"> 
                            <li><a href="#"><img class="menuIcon" src="./assets/img/icons/menu_bars.svg"></a></li>
                            <li><a href="#"><img class="userIcon" src="./assets/img/icons/user_icon.png"></a></li>
                        </ul>
                        <div class="userProfileWrapper d-flex align-items-center flex-column">
                            <img src="./assets/img/icons/upArrow.png">
                            <div class="userPhotonameCon d-flex align-items-center justify-content-center flex-column">
                                <div class="d-flex align-items-center justify-content-center flex-column"><a href="#"><img class="d-flex" src="./assets/img/moji.png"></a></div>
                                <p><a href="#">Mojisola Badmus</a></p>
                            </div>
                            <div class="userProfileMenu d-flex align-items-center justify-content-center flex-column text-center">
                                <ul>
                                    <a href="#"><li>Sign in</li></a>
                                    <a href="#"><li>Sign up</li></a>
                                    <a href="#"><li>F.A.Q.</li></a>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </nav> 
        </div>
    </header>
</body>
</html>